In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in f:\anaconda\lib\site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from datetime import datetime
#from sqlalchemy import create_engine

In [3]:
try:
    db = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Yash@1",
        database="ecommerce_db"
    )
    cursor = db.cursor()
    print("Connected to the database successfully!")
except mysql.connector.Error as err:
    print(f"Error: {err}")
    print("Connected to the database!")

Connected to the database successfully!

In [4]:
cursor = db.cursor()

In [5]:
if db.is_connected():
    cursor = db.cursor()
else:
    print("Database connection is not active. Reconnect and try again.")

In [6]:
# Function to add a customer
def add_customer(name, email, region, segment):
    query = "INSERT INTO Customers (Name, Email, Region, CustomerSegment) VALUES (%s, %s, %s, %s)"
    cursor.execute(query, (name, email, region, segment))
    db.commit()
    print(f"Customer '{name}' added successfully!")

# Function to add a product
def add_product(product_name, category, price):
    query = "INSERT INTO Products (ProductName, Category, Price) VALUES (%s, %s, %s)"
    cursor.execute(query, (product_name, category, price))
    db.commit()
    print(f"Product '{product_name}' added successfully!")

In [7]:

# Function to record a transaction
def add_transaction(customer_id, product_id, quantity):
    cursor.execute("SELECT Price FROM Products WHERE ProductID = %s", (product_id,))
    product = cursor.fetchone()
    if product:
        price = product[0]
        total_amount = price * quantity
        query = """ 
            INSERT INTO Transactions (CustomerID, ProductID, Quantity, TransactionDate, TotalAmount) 
            VALUES (%s, %s, %s, %s, %s) 
        """
        cursor.execute(query, (customer_id, product_id, quantity, datetime.now().date(), total_amount))
        db.commit()
        print(f"Transaction recorded successfully! Total Amount: {total_amount}")
    else:
        print("Invalid Product ID!")

In [8]:

# Function to view customers
def view_customers():
    cursor.execute("SELECT * FROM Customers")
    customers = cursor.fetchall()
    print("\nCustomers:")
    for customer in customers:
        print(customer)

# Function to view products
def view_products():
    cursor.execute("SELECT * FROM Products")
    products = cursor.fetchall()
    print("\nProducts:")
    for product in products:
        print(product)

# Function to view transactions
def view_transactions():
    cursor.execute("SELECT * FROM Transactions")
    transactions = cursor.fetchall()
    print("\nTransactions:")
    for transaction in transactions:
        print(transaction)

In [9]:

# Function to recommend products based on the customer's purchase history
def recommend_products(customer_id):
    query = """
        SELECT Products.Category 
        FROM Transactions 
        JOIN Products ON Transactions.ProductID = Products.ProductID 
        WHERE Transactions.CustomerID = %s 
        GROUP BY Products.Category 
        ORDER BY COUNT(*) DESC 
        LIMIT 1
    """
    cursor.execute(query, (customer_id,))
    category = cursor.fetchone()
    if category:
        cursor.execute("SELECT * FROM Products WHERE Category = %s LIMIT 5", (category[0],))
        recommendations = cursor.fetchall()
        print("\nRecommended Products:")
        for product in recommendations:
            print(product)
    else:
        print("No recommendations available.")

In [10]:

# Main menu function
def main_menu():
    while True:
        print("\n--- E-Commerce System ---")
        print("1. Add Customer")
        print("2. Add Product")
        print("3. Add Transaction")
        print("4. View Customers")
        print("5. View Products")
        print("6. View Transactions")
        print("7. Recommend Products")
        print("8. Exit")
        choice = int(input("Enter your choice: "))
        
        if choice == 1:
            name = input("Enter customer name: ")
            email = input("Enter customer email: ")
            region = input("Enter customer region: ")
            segment = input("Enter customer segment: ")
            add_customer(name, email, region, segment)
        elif choice == 2:
            product_name = input("Enter product name: ")
            category = input("Enter product category: ")
            price = float(input("Enter product price: "))
            add_product(product_name, category, price)
        elif choice == 3:
            customer_id = int(input("Enter customer ID: "))
            product_id = int(input("Enter product ID: "))
            quantity = int(input("Enter quantity: "))
            add_transaction(customer_id, product_id, quantity)
        elif choice == 4:
            view_customers()
        elif choice == 5:
            view_products()
        elif choice == 6:
            view_transactions()
        elif choice == 7:
            customer_id = int(input("Enter customer ID for recommendations: "))
            recommend_products(customer_id)
        elif choice == 8:
            print("Exiting system. Goodbye!")
            break
        else:
            print("Invalid choice! Try again.")

In [11]:

# Run the main menu
main_menu()

# Close cursor and database connection
cursor.close()
db.close()

--- E-Commerce System ---
1. Add Customer
2. Add Product
3. Add Transaction
4. View Customers
5. View Products
6. View Transactions
7. Recommend Products
8. Exit

Enter your choice:  4

Customers:
(1, 'Aarav Sharma', 'aarav.sharma@example.com', 'North', 'Regular')
(2, 'Isha Patel', 'isha.patel@example.com', 'West', 'Premium')
(3, 'Arjun Reddy', 'arjun.reddy@example.com', 'South', 'Regular')
(4, 'Priya Mehta', 'priya.mehta@example.com', 'East', 'Premium')
(5, 'Rohan Singh', 'rohan.singh@example.com', 'North', 'Regular')
(6, 'Simran Kaur', 'simran.kaur@example.com', 'West', 'Premium')
(7, 'Vikram Yadav', 'vikram.yadav@example.com', 'South', 'Regular')
(8, 'Neha Gupta', 'neha.gupta@example.com', 'East', 'Premium')
(9, 'Rajesh Verma', 'rajesh.verma@example.com', 'North', 'Regular')
(10, 'Maya Desai', 'maya.desai@example.com', 'West', 'Premium')
(11, 'Kunal Kumar', 'kunal.kumar@example.com', 'South', 'Regular')
(12, 'Sanya Rao', 'sanya.rao@example.com', 'East', 'Premium')
(13, 'Devansh Agarwal', 'devansh.agarwal@example.com', 'North', 'Regular')
(14, 'Pooja Sinha', 'pooja.sinha@example.com', 'West', 'Premium')
(15, 'Aditya Mehta', 'aditya.mehta@example.com', 'South', 'Regular')
(16, 'Tanya Sharma', 'tanya.sharma@example.com', 'East', 'Premium')
(17, 'Yash Patel', 'yash.patel@example.com', 'North', 'Regular')
(18, 'Ritika Bansal', 'ritika.bansal@example.com', 'West', 'Premium')
(19, 'Manoj Choudhury', 'manoj.choudhury@example.com', 'South', 'Regular')
(20, 'Divya Nair', 'divya.nair@example.com', 'East', 'Premium')
(21, 'Rahul Mishra', 'rahul.mishra@example.com', 'North', 'Regular')
(22, 'Kiran Singh', 'kiran.singh@example.com', 'West', 'Premium')
(23, 'Abhinav Thakur', 'abhinav.thakur@example.com', 'South', 'Regular')
(24, 'Meenal Sharma', 'meenal.sharma@example.com', 'East', 'Premium')
(25, 'Vandana Soni', 'vandana.soni@example.com', 'North', 'Regular')
(26, 'Ankit Agrawal', 'ankit.agrawal@example.com', 'West', 'Premium')
(27, 'Siddhi Joshi', 'siddhi.joshi@example.com', 'South', 'Regular')
(28, 'Nikita Verma', 'nikita.verma@example.com', 'East', 'Premium')
(29, 'Amit Patel', 'amit.patel@example.com', 'North', 'Regular')
(30, 'Anjali Gupta', 'anjali.gupta@example.com', 'West', 'Premium')
(31, 'Rajiv Arora', 'rajiv.arora@example.com', 'South', 'Regular')
(32, 'Shweta Rawat', 'shweta.rawat@example.com', 'East', 'Premium')
(33, 'Harsh Sharma', 'harsh.sharma@example.com', 'North', 'Regular')
(34, 'Alok Kumar', 'alok.kumar@example.com', 'West', 'Premium')
(35, 'Nikhil Deshmukh', 'nikhil.deshmukh@example.com', 'South', 'Regular')
(36, 'Preeti Joshi', 'preeti.joshi@example.com', 'East', 'Premium')
(37, 'Kartik Gupta', 'kartik.gupta@example.com', 'North', 'Regular')
(38, 'Sneha Kapoor', 'sneha.kapoor@example.com', 'West', 'Premium')
(39, 'Deepak Malhotra', 'deepak.malhotra@example.com', 'South', 'Regular')
(40, 'Anushka Iyer', 'anushka.iyer@example.com', 'East', 'Premium')
(41, 'John Doe', 'john@example.com', 'North', 'Premium')

--- E-Commerce System ---
1. Add Customer
2. Add Product
3. Add Transaction
4. View Customers
5. View Products
6. View Transactions
7. Recommend Products
8. Exit

Enter your choice:  5

Products:
(1, 'Wireless Mouse', 'Electronics', Decimal('799.99'))
(2, 'Bluetooth Headphones', 'Electronics', Decimal('1499.99'))
(3, 'Smartphone', 'Electronics', Decimal('27999.99'))
(4, 'Gaming Laptop', 'Electronics', Decimal('54999.99'))
(5, 'Office Chair', 'Furniture', Decimal('3499.99'))
(6, 'Wooden Desk', 'Furniture', Decimal('7999.99'))
(7, 'LED Desk Lamp', 'Furniture', Decimal('1299.99'))
(8, 'Coffee Maker', 'Appliances', Decimal('2999.99'))
(9, 'Blender', 'Appliances', Decimal('2499.99'))
(10, 'Air Fryer', 'Appliances', Decimal('4999.99'))
(11, 'Yoga Mat', 'Sports', Decimal('1299.99'))
(12, 'Dumbbells', 'Sports', Decimal('1999.99'))
(13, 'Treadmill', 'Sports', Decimal('22999.99'))
(14, 'Sofa Set', 'Furniture', Decimal('29999.99'))
(15, 'Dining Table', 'Furniture', Decimal('15999.99'))
(16, 'Fridge', 'Appliances', Decimal('17999.99'))
(17, 'Washing Machine', 'Appliances', Decimal('24999.99'))
(18, 'LED TV', 'Electronics', Decimal('39999.99'))
(19, 'Smartwatch', 'Electronics', Decimal('5999.99'))
(20, 'Tablet', 'Electronics', Decimal('17999.99'))
(21, 'Chopper', 'Appliances', Decimal('999.99'))
(22, 'Blender Mixer', 'Appliances', Decimal('1499.99'))
(23, 'Water Heater', 'Appliances', Decimal('3999.99'))
(24, 'Electric Kettle', 'Appliances', Decimal('999.99'))
(25, 'AC', 'Electronics', Decimal('37999.99'))
(26, 'Speaker', 'Electronics', Decimal('1999.99'))
(27, 'Camera', 'Electronics', Decimal('49999.99'))
(28, 'Printer', 'Electronics', Decimal('7999.99'))
(29, 'Tennis Racket', 'Sports', Decimal('2999.99'))
(30, 'Tennis Ball', 'Sports', Decimal('299.99'))
(31, 'Skateboard', 'Sports', Decimal('4999.99'))
(32, 'Football', 'Sports', Decimal('999.99'))
(33, 'Baseball', 'Sports', Decimal('799.99'))
(34, 'Net', 'Sports', Decimal('1199.99'))
(35, 'Jacket', 'Fashion', Decimal('2999.99'))
(36, 'Sunglasses', 'Fashion', Decimal('1599.99'))
(37, 'Leather Shoes', 'Fashion', Decimal('4999.99'))
(38, 'Backpack', 'Fashion', Decimal('1999.99'))
(39, 'Wool Sweater', 'Fashion', Decimal('2999.99'))
(40, 'Running Shoes', 'Fashion', Decimal('4999.99'))

--- E-Commerce System ---
1. Add Customer
2. Add Product
3. Add Transaction
4. View Customers
5. View Products
6. View Transactions
7. Recommend Products
8. Exit

Enter your choice:  6

Transactions:
(41, 1, 1, 2, datetime.date(2024, 12, 19), Decimal('1599.98'))

--- E-Commerce System ---
1. Add Customer
2. Add Product
3. Add Transaction
4. View Customers
5. View Products
6. View Transactions
7. Recommend Products
8. Exit

Enter your choice:  8

Exiting system. Goodbye!